/* App.css */
.search-box {
  width: 20rem;
}

.ais-Stats {
  color: #686363;
}

.ais-Pagination-list {
  margin: 1rem 0;
}

/* Styling selected items */
.ais-RefinementList-item--selected {
  background-color: #f0f0f0;
}

/* Hover effect on list items */
.ais-RefinementList-item:hover {
  background-color: #f9f9f9;
}

.footer {
  background-color: var(--color-brand-primary);
  color: white;
  margin-bottom: 1rem;
}

.container h5 {
  background-color: var(--color-brand-primary);
  color: var(--color-brand-contrast);
  padding: 0.5rem;
  margin: 1rem 0 1rem 0;
  width: 100%;
  font-weight: 100;
  font-family: Sansita, sans-serif;
}

.ais-RefinementList-label {
  color: #333;
  padding: .2rem;
}
